body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:1232px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:608px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u5085 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:48px;
  background:inherit;
  background-color:rgba(34, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5087 {
  position:absolute;
  left:0px;
  top:48px;
  width:720px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5088 {
  position:absolute;
  left:2px;
  top:13px;
  width:716px;
  word-wrap:break-word;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:117px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5089 {
  position:absolute;
  left:0px;
  top:1163px;
  width:720px;
  height:117px;
}
#u5090 {
  position:absolute;
  left:2px;
  top:50px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5091 {
  position:absolute;
  left:35px;
  top:1190px;
  width:64px;
  height:64px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u5093 {
  position:absolute;
  left:182px;
  top:1190px;
  width:64px;
  height:64px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5095 {
  position:absolute;
  left:328px;
  top:1190px;
  width:64px;
  height:64px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5098 {
  position:absolute;
  left:474px;
  top:1190px;
  width:64px;
  height:64px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5100 {
  position:absolute;
  left:524px;
  top:1196px;
  width:15px;
  height:15px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5102 {
  position:absolute;
  left:3px;
  top:47px;
  width:50px;
  height:50px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:517px;
  height:5px;
}
#u5104 {
  position:absolute;
  left:55px;
  top:159px;
  width:514px;
  height:2px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:-7px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(34, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5106 {
  position:absolute;
  left:584px;
  top:118px;
  width:102px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5107 {
  position:absolute;
  left:2px;
  top:14px;
  width:98px;
  word-wrap:break-word;
}
#u5108 {
  position:absolute;
  left:55px;
  top:132px;
  width:514px;
  height:25px;
}
#u5108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 160, 160, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5109 {
  position:absolute;
  left:0px;
  top:199px;
  width:720px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5110 {
  position:absolute;
  left:2px;
  top:20px;
  width:716px;
  word-wrap:break-word;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 160, 160, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5111 {
  position:absolute;
  left:0px;
  top:258px;
  width:720px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5112 {
  position:absolute;
  left:2px;
  top:20px;
  width:716px;
  word-wrap:break-word;
}
#u5113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 160, 160, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5113 {
  position:absolute;
  left:0px;
  top:317px;
  width:720px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5114 {
  position:absolute;
  left:2px;
  top:20px;
  width:716px;
  word-wrap:break-word;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 160, 160, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5115 {
  position:absolute;
  left:0px;
  top:376px;
  width:720px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5116 {
  position:absolute;
  left:2px;
  top:20px;
  width:716px;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 160, 160, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5117 {
  position:absolute;
  left:0px;
  top:435px;
  width:720px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
  text-align:left;
}
#u5118 {
  position:absolute;
  left:2px;
  top:20px;
  width:716px;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5119 {
  position:absolute;
  left:622px;
  top:213px;
  width:32px;
  height:32px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5121 {
  position:absolute;
  left:622px;
  top:272px;
  width:32px;
  height:32px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5123 {
  position:absolute;
  left:622px;
  top:331px;
  width:32px;
  height:32px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5125 {
  position:absolute;
  left:622px;
  top:390px;
  width:32px;
  height:32px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5127 {
  position:absolute;
  left:622px;
  top:449px;
  width:32px;
  height:32px;
}
#u5128 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:43px;
}
#u5129 {
  position:absolute;
  left:20px;
  top:444px;
  width:38px;
  height:43px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:14px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5131 {
  position:absolute;
  left:622px;
  top:1190px;
  width:64px;
  height:64px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133 {
  position:absolute;
  left:0px;
  top:48px;
  width:626px;
  height:1232px;
  overflow:hidden;
  visibility:hidden;
}
#u5133_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:1232px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:1232px;
  background:inherit;
  background-color:rgba(37, 41, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:1232px;
}
#u5135 {
  position:absolute;
  left:2px;
  top:608px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:290px;
}
#u5136 {
  position:absolute;
  left:173px;
  top:53px;
  width:281px;
  height:280px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:132px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5138 {
  position:absolute;
  left:289px;
  top:348px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5140 {
  position:absolute;
  left:263px;
  top:373px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u5142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:84px;
  background:inherit;
  background-color:rgba(37, 41, 50, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 54, 63, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5142 {
  position:absolute;
  left:0px;
  top:527px;
  width:626px;
  height:84px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:34px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:84px;
  background:inherit;
  background-color:rgba(37, 41, 50, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 54, 63, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5144 {
  position:absolute;
  left:0px;
  top:609px;
  width:626px;
  height:84px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:34px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:84px;
  background:inherit;
  background-color:rgba(37, 41, 50, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 54, 63, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5146 {
  position:absolute;
  left:0px;
  top:691px;
  width:626px;
  height:84px;
}
#u5147 {
  position:absolute;
  left:2px;
  top:34px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:84px;
  background:inherit;
  background-color:rgba(37, 41, 50, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 54, 63, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5148 {
  position:absolute;
  left:0px;
  top:773px;
  width:626px;
  height:84px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:34px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5150 {
  position:absolute;
  left:281px;
  top:1124px;
  width:64px;
  height:64px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5152 {
  position:absolute;
  left:32px;
  top:545px;
  width:48px;
  height:48px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5154 {
  position:absolute;
  left:102px;
  top:560px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5156 {
  position:absolute;
  left:102px;
  top:642px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5158 {
  position:absolute;
  left:32px;
  top:627px;
  width:48px;
  height:48px;
}
#u5159 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5160 {
  position:absolute;
  left:102px;
  top:806px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5162 {
  position:absolute;
  left:32px;
  top:791px;
  width:48px;
  height:48px;
}
#u5163 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u5164 {
  position:absolute;
  left:32px;
  top:709px;
  width:48px;
  height:48px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5166 {
  position:absolute;
  left:102px;
  top:724px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#767A83;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5168 {
  position:absolute;
  left:578px;
  top:8px;
  width:41px;
  height:41px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
